<main>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Rice"}'>Rice</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Potatoes"}'>Potatoes</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Pasta"}'>Pasta</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Bread"}'>Bread</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Cheese"}'>Cheese</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Chicken"}'>Chicken</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Beef"}'>Beef</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Fish"}'>Fish</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Vegetables"}'>Vegetables</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Fruits"}'>Fruits</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Salad"}'>Salad</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Soup"}'>Soup</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Eggs"}'>Eggs</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Milk"}'>Milk</button>
    <button class="button" hx-trigger="click" hx-get="/add_item" hx-target="#results" hx-vals='{"item": "Yogurt"}'>Yogurt</button>
</main>
